<% layout('../.././layouts/emailer') -%>

<tr>
  <td>
    <table cellspacing="0" cellpadding="0" align="center" class="inner-container">
      <tbody>
        <tr>
          <td><h3 style="text-align: right; color: #000;">ImagineCo<sup>®</sup></h3></td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<!-- Header Image -->
<tr>

  <td>

    <table>

      <tbody>

        <tr>

          <td>

            <img src="/images/emailer/emailer-header.png" alt="" width="100%" class="img-fluid">

          </td>

        </tr>

      </tbody>

    </table>

  </td>

</tr>

<!-- Header Image -->
<tr>

  <td>

    <table cellspacing="0" cellpadding="10" align="center" class="inner-container">

      <tr>

        <td colspan="3">

          <p>Hello Susan,</p>

          <p>Congratulations on earning the <b>Sales Expert badge</b></p>

          <p>Let’s keep building your knowledge. Here all you need to do to get to the next level and earn your next series of badges.</p>

        </td>

      </tr>

      <tr>

        <td colspan="3">

          <p class="text-center"><b>Achievement Sales master</b></p>

        </td>

      </tr>

      <tr>

        <td class="col-4 text-center" valign="top">

          <img src="/images/emailer/emailer-webinar.png" alt="" style="width: 100%; max-width: 100px;" width="100px">

          <p class="text-center">

            <a href="" target="_blank">Step 1 Attend the Sales Master Webinar</a>

          </p>

        </td>

        <td class="col-4 text-center" valign="top">

          <img src="/images/emailer/emailer-sales.png" alt="" style="width: 100%; max-width: 100px;" width="100px">

          <p class="text-center">

            <a href="" target="_blank">Step 2 Read the article Sales in Context</a>

          </p>

        </td>

        <td class="col-4 text-center" valign="top">

          <img src="/images/emailer/emailer-high-voltage-sales.png" alt="" style="width: 100%; max-width: 100px;" width="100px">

          <p class="text-center">

            <a href="" target="_blank">Step 3 Complete the High Voltage sales capsule</a>

          </p>

        </td>

      </tr>

    </table>

  </td>

</tr>

<tr>
  <td>
    <table class="inner-container" align="center" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>
            <table align="center" bgcolor="#9ecd7d" cellpadding="15" cellspacing="0">
              <tbody>
                <tr>
                  <td>

                    <a href="#" class="btn text-center">Earn more badges</a>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>

          <td style="width: 30px;" width="30px"></td>

          <td>
            <table align="center" bgcolor="#9ecd7d" cellpadding="15" cellspacing="0">
              <tbody>
                <tr>
                  <td>

                    <a href="#" class="btn text-center">Share your achievement on LinkedIn</a>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table class="inner-container footer" align="center" cellpadding="0" cellspacing="0" style="margin-top: 30px;">
      <tbody>
        <tr>
          <td><p class="text-center">© ImagineCo 2020. All rights Reserved.</p></td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>