<footer>

  <p class="copyrights text-center">©2020 imagine Co. All rights reserved. Website maintained by <a href="https://gullanandgullan.com/" target="_blank">G&G Digital</a>.</p>

</footer>

<%- include ./scripts %>