#measurements-reporting {
  display: inline-block;
  background-color: #fff;
  max-width: 400px;
  border-radius: 6px;
  transition: all .75s;
  cursor: pointer;

  .content {
    .user {
      padding: 0 $grid-gutter-width;
      margin-bottom: $grid-gutter-width;

      h2 {
        margin: 0;
      }
    }
  }
}