.profile {
  position: relative;
  cursor: pointer;
  display: block;
  width: 100px;
  height: 100px ;
  border-radius: 50%;
  margin: 0 auto;
  transition: transform .2s;
  background-size: cover !important;

  &:hover {
    transform: scale(1.1);
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 2.5rem;
  }

  &:nth-child(even) {
    border: solid 2px $g-g-advc-orange;
  }
}

.looping:nth-child(even) {

  p {
    a {
      color: $g-g-advc-orange;
    }
  }

  .profile {
    i {
      color: $g-g-advc-orange;
    }
  }
}