$g-g-advc-orange: #f7b053;
$g-g-advc-green: #9ecd7d;
$g-g-advc-light-gray: #edf2f5;

$font-family-base: 'Raleway', sans-serif !important;

h1, h2, h3, h4, h5, h6 {
  font-weight: 700 !important;
}

b {
	font-weight: 600 !important;
}

$primary: $g-g-advc-green;
$secondary: $g-g-advc-orange;
$gray-300: $g-g-advc-light-gray;
$table-accent-bg: $g-g-advc-light-gray;