<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New badge earned</title>

  <style>

    body {
      font-family: arial, sans-serif;
      background-color: #eee;
      color: #999;
    }

    .container {
      max-width: 600px;
      width: 100%;
      background-color: #fff;
    }

    .inner-container {
      width: 100%;
    }

    .text-center {
      text-align: center;
    }

    .col-6 {
      width: 50%
    }

    .col-4 {
      width: 33.33%
    }

    a {
      color: #9ecd7d;
      text-decoration: none;
    }

    a.btn {
      color: #fff;
    }

    .footer {
      font-size: 12px;
    }

  </style>

</head>
<body>

  <table cellpadding="20" border="0" cellspacing="0" align="center" width="600" class="container" bgcolor="#fff" valign="middle">

    <tbody>

      <tr>

        <td>

          <table cellpadding="0" border="0" cellspacing="0" align="center" width="100%">

            <tbody>

              <%- body -%>

            </tbody>

          </table>

        </td>

      </tr>

    </tbody>

  </table>

</body>
</html>