<% layout( '../.././layouts/content_type' ) -%>

<form action="" class="">

  <div class="form-group">

    <h5 class="mb-4">Which of the below destinations can you use for Time Machine?</h5>

    <p><input type="radio" name="hdd" value="An External drive, formatted NTFS" class="d-inline mr-3"> An External drive, formatted NTFS</p>

    <p><input type="radio" name="hdd" value="An NFS Jleshare" class="d-inline mr-3"> An NFS Jleshare</p>

    <p><input type="radio" name="hdd" value="The volume containing the startup disk information" class="d-inline mr-3"> The volume containing the startup disk information</p>

    <p><input type="radio" name="hdd" value="A SMB Jleshare" class="d-inline mr-3"> A SMB Jleshare</p>

  </div>

  <hr>

  <div class="form-group">

    <h5 class="mb-4">Which of the below describes the permissions on the/Users/Public/Dropbox folder?</h5>

    <p><input type="radio" name="permissions" value="drwxrwxrw" class="d-inline mr-3"> drwxrwxrwx</p>

    <p><input type="radio" name="permissions" value="-rw-rw-rw-" class="d-inline mr-3"> -rw-rw-rw-</p>

    <p><input type="radio" name="permissions" value="drw--w--w-" class="d-inline mr-3"> drw--w--w-</p>

    <p><input type="radio" name="permissions" value="-rwxrw-rw-" class="d-inline mr-3"> -rwxrw-rw-</p>

  </div>

  <hr>

  <div class="form-group">

    <h5 class="mb-4">What application would I use to manage my ZIP archive preferences?</h5>

    <p><input type="radio" name="archive" value="Archive Utility" class="d-inline mr-3"> Archive Utility</p>

    <p><input type="radio" name="archive" value="Disk Utility" class="d-inline mr-3"> Disk Utility</p>

    <p><input type="radio" name="archive" value="Finder Preferences" class="d-inline mr-3"> Finder Preferences</p>

    <p><input type="radio" name="archive" value="Image Capture" class="d-inline mr-3"> Image Capture</p>

  </div>

  <button class="btn btn-primary mt-3 mb-3">Submit</button>

</form>

