<% layout( '../.././layouts/content_type' ) -%>

<p><%= content %></p>

<img src="/images/<%= capsule_podcast_cover %>" class="img-fluid" alt="">

<video src="/images/<%= capsule_podcast %>" class="w-100 mb-3" controls style="height: 55px;"></video>