<% layout( '../.././layouts/content_type' ) -%>

<p><%= content %></p>

<div id="case-study">

  <div class="row align-items-center justify-items-center mb-4 text-white">

    <div class="col-sm-4">

      <div class="result-overview green-bg rounded-lg shadow-sm p-4 text-center" style="min-height: 150px;">

        <h2>52%</h2>

        <h5>Increase<br/>in sales</h5>

      </div>

    </div>

    <div class="col-sm-4">

      <div class="result-overview orange-bg rounded-lg shadow-sm p-4 text-center" style="min-height: 150px;">

        <h2>70%</h2>

        <h5>More website traffic</h5>

      </div>

    </div>

    <div class="col-sm-4">

      <div class="result-overview green-bg rounded-lg shadow-sm p-4 text-center" style="min-height: 150px;">

        <h2>60%</h2>

        <h5>Decrease in identity fraud</h5>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-12">

      <h5>Lorem ipsum dolor sit amet.</h5>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque repellendus vero laudantium, mollitia ab, architecto minima. Eius libero sint cumque? Nihil consectetur et temporibus at consequatur quas dolores cum reprehenderit!</p>

    </div>

  </div>

  <div class="row bg-light pt-3 pb-1 pl-3 pr-3 mb-3">

    <div class="col-12">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias mollitia cupiditate error animi tenetur nisi eveniet? Aperiam eius cupiditate dolore architecto deleniti atque quod nobis voluptatum, velit dignissimos assumenda. Beatae.</p>

    </div>

  </div>

  <div class="row pt-3 pb-1 mb-3">

    <div class="col-12">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque voluptatum, cum rerum dolorum distinctio. Vero consectetur totam assumenda expedita? Laboriosam, deserunt quibusdam, hic recusandae quaerat dolores ducimus accusamus aliquam.</p>

      <p>Ad, deserunt mollitia facilis ipsum nihil unde tempore animi nam distinctio recusandae odio! Consequatur consequuntur culpa aliquam fugit quisquam accusantium earum suscipit. Debitis eligendi enim temporibus nulla nobis, fuga pariatur.</p>

      <p>Rerum, soluta laborum mollitia, nemo illo quia. Laboriosam aspernatur voluptate hic nam delectus quasi excepturi rerum doloremque, commodi voluptatum perferendis nobis sit corrupti ex perspiciatis eligendi quis sapiente, dolor rem.</p>

    </div>

  </div>

</div>

<p>Content unique to <%= content_type %> here</p>