<% layout( '../.././layouts/content_type' ) -%>

<p><%= content %></p>

<div class="row mt-3 mb-3">

  <div class="col-md-6">

    <h5 class="mt-5 mb-5">Doughnut Graph</h5>

    <canvas id="graphEg" width="250" height="250"></canvas>

  </div>

  <div class="col-md-6">

    <h5 class="mt-5 mb-5">Pie Graph</h5>

    <canvas id="pieEg" width="250" height="250"></canvas>

  </div>

  <div class="col-md-6">

    <h5 class="mt-5 mb-5">Bar Graph</h5>

    <canvas id="barEg" width="250" height="250"></canvas>

  </div>

  <div class="col-md-6">

    <h5 class="mt-5 mb-5">Line Graph</h5>

    <canvas id="lineEg" width="250" height="250"></canvas>

  </div>

</div>
