<% layout( '../.././layouts/content_type' ) -%>

<!--<p><%= content %></p>

<p>Content unique to <%= content_type %> here</p>-->

<h4 class="mb-4">DIY Research List</h4>

<form action="">

  <table class="table table-striped">

      <td class="align-middle" width="10"><input type="checkbox" name="uniqueName" value="Buy Bananas" class="align-middle"></td>

      <td class="align-middle"><span class="align-middle">Am I talking to the right people?</span></td>

    </tr>

    <tr>

      <td class="align-middle" width="10"><input type="checkbox" name="uniqueName" value="Buy Bananas" class="align-middle"></td>

      <td class="align-middle"><span class="align-middle">Do I have the right amount of respondents for what I need?</span></td>

    </tr>

    <tr>

      <td class="align-middle" width="10"><input type="checkbox" name="uniqueName" value="Buy Bananas" class="align-middle"></td>

      <td class="align-middle"><span class="align-middle">Am I asking the right questions?</span></td>

    </tr>

    <tr>

      <td class="align-middle" width="10"><input type="checkbox" name="uniqueName" value="Buy Bananas" class="align-middle"></td>

      <td class="align-middle"><span class="align-middle">Am I asking questions in the right way?</span></td>

    </tr>

    <tr>

      <td class="align-middle" width="10"><input type="checkbox" name="uniqueName" value="Buy Bananas" class="align-middle"></td>

      <td class="align-middle"><span class="align-middle">Is my research designed to answer the tasks at hand?</span></td>

    </tr>

    <tr>

      <td class="align-middle" width="10"><input type="checkbox" name="uniqueName" value="Buy Bananas" class="align-middle"></td>

      <td class="align-middle"><span class="align-middle">Is my research telling me the full story?</span></td>

    </tr>

    <tr>

      <td class="align-middle" width="10"><input type="checkbox" name="uniqueName" value="Buy Bananas" class="align-middle"></td>

      <td class="align-middle"><span class="align-middle">Is there anything else I should condider</span></td>

    </tr>

  </table>


</form>