<% layout( '../.././layouts/content_type' ) -%>

<p><%= content %></p>

<iframe class="player-iframe" src="//cdn1.raptmedia.com/projects/j2Nu6adZ/embed?playsinline=true&autoplay=false&controls=overlay" name="content" scrolling="no" frameborder="0" width="100%" height="100%" marginheight="0" marginwidth="0" id="inner_iframe" style="max-height: 466px; max-width: 830px;" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"><p>No support for iframes</p></iframe>

<p>Content unique to <%= content_type %> here</p>