<% layout( '../.././layouts/content_type' ) -%>

<p><%= content %></p>

<div class="row mb-4">

  <div class="col-sm-6">

    <a href="/images/<%= capsule_ebook_link %>" target="_blank">

      <img src="/images/<%= capsule_ebook_cover %>" class="img-fluid shadow" alt="">

    </a>

  </div>

  <div class="col-sm-6">

    <p><b>Authors:</b> Joe Soap, Jane Soap</p>

    <p><b>Publishers:</b> GetSmart</p>

    <p><b>Key concepts covered:</b></p>

    <ul class="pl-3 m-0">

      <li>What is Internet Marketing?</li>

      <li>History and pioneers of Internet Marketing</li>

      <li>Todays Internet Marketing context</li>

      <li>Future trends,</li>

      <li>How the tactics taught in this textbook fit together?</li>

    </ul>

    <a href="/images/<%= capsule_ebook_link  %>" class="btn btn-primary mt-3" target="_blank">View eBook</a>

  </div>

</div>