<% layout( '../.././layouts/content_type' ) -%>

<p><%= content %></p>

<img src="/images/<%= capsule_infographic_image %>" class="img-fluid mb-4" alt="<%= title %>">

<p>Content unique to <%= content_type %> here</p>