<% layout( '../.././layouts/content_type' ) -%>

<p class="mb-5"><%= content %></p>

<%- include ../../partials/examples/dynamic-problem-solving%>

<p class="mt-5">Content unique to <%= content_type %> here</p>