<% layout( '../.././layouts/content_type' ) -%>

<p><%= content %></p>

<div style="width: 100%; position: relative; padding-bottom: 56.25%;" class="mb-4">
<iframe src="https://www.youtube.com/embed/4rsLIcl7sW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"></iframe>
</div>

<p>Content unique to <%= content_type %> here</p>