<% layout( '../.././layouts/content_type' ) -%>


<p class="bg-light p-5 mb-4"><%= content %></p>

<div class="row">

  <div class="col-md-6">

    <p>Correctly identifying customers’ needs is essential for ensuring customer satisfaction and loyalty. If you fail to properly identify customers’ needs, or if you are indifferent to their needs, they will take their business elsewhere. Customers have unique needs. Assuming what a customer wants based on previous clients can drive the customer away.
    </p>

    <p>Identifying customers’ needs allows representatives to cross-sell related products or services. Cross-selling can make the original purchase better, easier to use, or more versatile, and is financially beneficial to the organization.</p>

  </div>

  <div class="col-md-6">

    <p>Often, customers either aren’t clear about what they need, or they don’t really know what they want. Effective customer service representatives need to be trained to ask the right questions, listen, and tailor suggestions in order to assist customers satisfactorily.</p>

    <p>Identifying clients’ needs creates satisfied customers, and satisfied customers are less likely to have reason to enter into disputes with your organization or contemplate legal action.</p>

  </div>

</div>

<p>Content unique to <%= content_type %> here</p>