<% layout( '../.././layouts/default' ) -%>

<h2 class="text-center p-4"><%= title %></h2>

<div class="container mb-5">

<p><b>Forgot Password</b></p>

<ol>
	<li>You can request a reset password email from the login page:</li>
	<li>Move your cursor to the top right of Udemy's homepage, then click on Login</li>
	<li>Click Forgot Password</li>
	<li>Enter your email and click the I'm not a robot box</li>
	<li>Select the correct images and then click VERIFY</li>
	<li>Next, click on Reset Password</li>
</ol>

<p>If you do not receive the password reset message within an hour, please check your spam folder. </p>
 
 
<p><b>Change Password</b></p>


<ol>
	<li>You can change your password at any time in your Account settings.</li>
	<li>Log in to your account</li>
	<li>Move your cursor to your profile image at the top right of the page</li>
	<li>Click Account in the dropdown menu</li>
	<li>Enter your current password, your new password, re-type your new password, then click on Change Password.</li>
</ol> 

</div>


