<% layout( '../.././layouts/default' ) -%>

<div id="help-centre" class="">

  <div class="p-5 bg-dark">

    <h2 class="text-center text-white"><%= title %></h2>

    <form action="" class="m-0">

      <div class="container">

        <div class="form-group m-0">

          <div class="row justify-content-center">

            <div class="col-md-8 p-0">

              <div class="d-flex">

                <input type="text" class="form-control" placeholder="Search here" style="border-bottom-right-radius: 0; border-top-right-radius: 0;"><button class="btn btn-primary" style="border-bottom-left-radius: 0; border-top-left-radius: 0;">Search</button>

              </div>

            </div>

          </div>

        </div>

      </div>

    </form>

  </div>

  <div class="fluid-container p-5 orange-bg">

    <div class="container">

      <div class="row align-items-center">

        <div class="col-sm-6">

          <h3 class="text-center">Account help</h3>

        </div>

        <div class="col-sm-6">

          <ul>

            <li><a href="#">How to reset your password</a></li>

            <li><a href="/help-centre/changeyour-password">How to change your password</a></li>

            <li><a href="#">How can I change my profile picture</a></li>

          </ul>

        </div>

      </div>

    </div>

  </div>

  <div class="fluid-container p-5 green-bg">

    <div class="container">

      <div class="row align-items-center">

        <div class="col-sm-6">

          <h3 class="text-center">Getting started</h3>

        </div>

        <div class="col-sm-6">

          <ul>

            <li><a href="#">How to guides</a></li>

            <li><a href="#">How to enrol in a course</a></li>

            <li><a href="#">How do I search for a topic</a></li>

            <li><a href="#">Can I trade my stars for any rewards</a></li>

            <li><a href="#">How do I earn badges</a></li>

            <li><a href="#">How can I earn the Diagnostic Checker badge</a></li>

          </ul>

        </div>

      </div>

    </div>

  </div>

  <div class="fluid-container p-5 orange-bg">

    <div class="container">

      <div class="row align-items-center">

        <div class="col-sm-6"><h3 class="text-center">Have a problem</h3> </div>

        <div class="col-sm-6">

          <ul>

            <li><a href="#">How to contact Support</a></li>

            <li><a href="#">How do I earn CPD points</a></li>

            <li><a href="#">How do I recommend a colleague to the platform</a></li>

          </ul>

        </div>

      </div>

    </div>

  </div>

</div>