<div id="badge" class="shadow" style="border-radius: 6px;">

  <div>

    <p>You have earned a new badge</p>

  </div>

  <hr>

  <img src="/images/badges/product-guru.svg" classs="img-fluid" width="200" alt="product guru">

  <h5>Product Guru</h5>

</div>