<div id="dynamic-chat-box" class="shadow">

  <div class="top bg-dark">Ask your question</div>

  <div class="p-4">

    <div class="content">

      <div class="text-right">

        <div class="user p-3 mb-3 text-left">

          What is the difference between sorbet ice-cream and diary ice-cream

        </div>

      </div>

      <div class="response p-3 mb-3">
        The main difference is in the ingredients used. Sorbet is basically water + sugar + fruit, while ice cream and gelato is milk/cream + sugar + fruit. So the last two are more 'creamy', while sorbet is more 'icy'.
      </div>

    </div>

    <hr>

    <div class="text-reply">

      <input type="text" class="form-control" style="border: 0;" placeholder="Write a message...">

    </div>

  </div>

</div>